<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://cdn.tailwindcss.com"></script>
        <title>Login</title>
    </head>

    <body>
  <div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center flex-col gap-5  px-5 py-5">
           
            <h1 class="text-6xl font-bold text-black"> 
                404 Page not found!</h1>
                <h2  class="text-3xl">Back to <a class="hover:underline " href="/login">Login</a> or <a class="hover:underline" href="/">Main</a></h2>
               
            </div>
        </div>
    </body>
</html>
