<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="box-border">
    <main
      class="min-h-screen  bg-slate-100 flex flex-col justify-center items-center"
    >
      <nav
    class="relative flex w-full flex-nowrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:flex-wrap lg:justify-start lg:py-4"
    data-te-navbar-ref>
    <div class="flex w-full flex-wrap items-center justify-between px-3">
      <div class="ml-2">
        <a class="text-xl text-neutral-800 dark:text-neutral-200" href="#"
          >Nama Aplikasi</a
        >
      </div>
      <!-- Hamburger button for mobile view -->
      <button
        class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
        type="button"
        data-te-collapse-init
        data-te-target="#navbarSupportedContent3"
        aria-controls="navbarSupportedContent3"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <!-- Hamburger icon -->
        <span class="[&>svg]:w-7">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-7 w-7">
            <path
              fill-rule="evenodd"
              d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
              clip-rule="evenodd" />
          </svg>
        </span>
      </button>
  
      <!-- Collapsible navbar container -->
      <div
        class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
        id="navbarSupportedContent3"
        data-te-collapse-item>
        <!-- Left links -->
        <div
          class="list-style-none mr-auto flex flex-col pl-0 lg:mt-1 lg:flex-row"
          data-te-navbar-nav-ref>
          <!-- Home link -->  
        </div>
       
        <span class="ml-2 text-neutral-500 dark:text-neutral-200"
          ><Selamat class="name">Selamat Datang,  {{ user.username }}</p> </span
        >
        <form action="/logout" method="post">
           <input
                  type="text"
                  name="userid"
                  id=""
                  style="display: none"
                  value="{{ user.id }}"
              />
              <button class="text-white  ml-5" type="submit">Logout</button>
        </form>
            
      </div>
    </div>
      </nav>
      <div
        class="flex mt-8 mb-8  flex-col w-5/6 justify-center items-center py-6 space-y-10 shadow-xl rounded-xl bg-white"
      >
        <div class="">
          <form action="" class="flex items-center">
            <input
              type="file"
              class="text-sm text-slate-500 file:mr-4 file:py-3 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-slate-300 cursor-pointer file:text-slate-800-700 hover:file:bg-slate-400"
            />
            <!-- <p class="mt-1 text-sm text-black opacity-50" id="file_input_help">
              PDF(MAX. X MB).
            </p> -->

            <button
              class="bg-blue-700 py-2 px-3 rounded-lg text-white hover:bg-blue-800 text-center"
            >
              Upload
            </button>
          </form>
        </div>
        <div class="">
          <label for="message" class="block mb-2 text-lg font-medium text-black"
            >Your results</label
          >
          <textarea
            id="message"
            cols="70"
            rows="20"
            class="block p-3 w-full text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-500 focus:ring-blue-500 focus:border-blue-500"
            placeholder=""
          ></textarea>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-700 py-2 px-3 rounded-lg text-white hover:bg-blue-800 text-center"
          >
            Summarize
          </button>
        </div>

        <div class="">
          <label for="message" class="block mb-2 text-lg font-medium text-black"
            >Summarize Results</label
          >
          <textarea
            id="message"
            cols="70"
            rows="20"
            class="block p-3 w-full text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-500 focus:ring-blue-500 focus:border-blue-500"
            placeholder=""
          ></textarea>
        </div>
      </div>
    </main>
  </body>
</html>
