<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://cdn.tailwindcss.com"></script>
        <title>Login</title>
    </head>

    <body class="max-h-screen">
        <section
            class="border-red-500 bg-gray-200 min-h-screen flex items-center justify-center px-5 py-5"
        >
            <div
                class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden"
                style="max-width: 1000px"
            >
                <div class="md:flex w-full">
                    <div class="md:w-1/2 py-16 px-5 md:px-10">
                        <h2 class="font-bold text-3xl text-gray-900">Login</h2>
                        <p class="text-sm mt-4 text-gray-900">
                            If you have an account, please login
                        </p>
                        <form class="mt-6" action="/login" method="post">
                            <div class="flex -mx-3">
                                <div class="w-full px-3 mb-5">
                                    <label
                                        for=""
                                        class="block text-gray-700 px-1"
                                        >Username</label
                                    >
                                    <div class="flex mt-2">
                                        <div
                                            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
                                        >
                                            <svg
                                                class="h-4 w-4 text-gray-400"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            >
                                                <path
                                                    d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                                                />
                                                <polyline
                                                    points="22,6 12,13 2,6"
                                                />
                                            </svg>
                                        </div>
                                        <input
                                            type="text"
                                            name="username"
                                            placeholder="Enter your username"
                                            class="w-full -ml-10 pl-10 pr-3 py-3 rounded-lg border-2 bg-gray-200 border-gray-200 outline-none focus:border-indigo-500 focus:bg-white focus:outline-none"
                                            autofocus
                                            required
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="flex -mx-3">
                                <div class="w-full px-3 mb-12">
                                    <label
                                        for=""
                                        class="block text-gray-700 px-1"
                                        >Password</label
                                    >
                                    <div class="flex mt-2">
                                        <div
                                            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
                                        >
                                            <svg
                                                class="h-4 w-4 text-gray-400"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                stroke-width="2"
                                                stroke="currentColor"
                                                fill="none"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            >
                                                <path
                                                    stroke="none"
                                                    d="M0 0h24v24H0z"
                                                />
                                                <rect
                                                    x="5"
                                                    y="11"
                                                    width="14"
                                                    height="10"
                                                    rx="2"
                                                />
                                                <circle cx="12" cy="16" r="1" />
                                                <path
                                                    d="M8 11v-4a4 4 0 0 1 8 0v4"
                                                />
                                            </svg>
                                        </div>
                                        <input
                                            type="password"
                                            name="password"
                                            class="w-full -ml-10 pl-10 pr-3 py-3 rounded-lg border-2 bg-gray-200 border-gray-200 outline-none focus:border-indigo-500 focus:bg-white focus:outline-none"
                                            placeholder="Enter your password"
                                            required
                                        />
                                    </div>
                                </div>
                            </div>

                            <button
                                type="submit"
                                class="w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg px-4 py-3 mt-4"
                            >
                                Log In
                            </button>
                        </form>
                        <a href="/register">
                            <button
                                type="submit"
                                class="w-full block bg-white hover:bg-gray-300 focus:bg-gray-400 text-black font-semibold rounded-lg px-4 py-3 mt-3"
                            >
                                Create New Account
                            </button>
                        </a>
                    </div>

                    <div
                        class="w-1/2 md:block hidden bg-white flex justify-center items-center"
                    >
                        <img
                            src="../static/images/gambar.png"
                            class="py-16"
                            alt="page img"
                        />
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
