<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Register</title>
    </head>
    <body>
        <form class="h-96 w-1/2" action="/register" method="post">
            <div class="flex flex-col gap-2">
                <h4>Username:</h4>
                <input type="text" name="username" />
            </div>
            <div class="flex flex-col gap-2 mt-2">
                <h4>Password :</h4>
                <input type="text" name="password" />
            </div>
            <button class="mt-10" type="submit">Submit</button>
        </form>
    </body>
</html>
